header {	 
 width: 100%;
 float: left;
  padding: 0.5% 0.5%;
  background-image: linear-gradient( to right, #007788, #07d5d5); 
  color: white;
}
.logo {
	width: 56px;
	height: 56 px;
	float: left;
	
	
}
p{
	margin-right:20%;
	align:justify;
	margin-left:20%;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; 
}
a{
	color: white;
	text-decoration:none;
}
	