header {	 
 width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 10px solid	white;
  background-image: linear-gradient( to right, #007788, #07d5d5); 
  color: white;
  z-index: 2;
}
.titulo {
	
  font-size: 10000 px;		
	
}
p{
	margin-right:20%;
	align:justify;
	margin-left:20%;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; 
}
a{
	color: white;
	text-decoration:none;
}
	